---
import { getAvailableLanguages, getJokesForLanguage } from "../data/api";
import { useTranslations } from "../i18n/utils";
import Layout from "../layouts/Layout.astro";
import type { Language } from "../types";

export async function getStaticPaths() {
  const languages = await getAvailableLanguages();

  const paths = languages.map((language) => ({
    params: { language: language.code },
    props: { language },
  }));

  return paths;
}

interface Props {
  language: Language;
}

const { language } = Astro.props;

const { jokes } = await getJokesForLanguage(language);

const t = useTranslations(Astro.url);
---

<Layout title="Welcome to Astro.">
  <header>
    <h1>{t("page.chosen-language")}: {language.label}</h1>
  </header>
  <main>
    {
      jokes.map((joke) => {
        return <div>{joke.question}</div>;
      })
    }
  </main>
</Layout>
